@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 98 38% 90%;
    --foreground: 240 10% 3.9%;
    --card: 98 38% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 98 38% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 158 98% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 98 38% 85%;
    --secondary-foreground: 158 98% 10%;
    --muted: 98 38% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 98 38% 80%;
    --accent-foreground: 158 98% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 98 38% 80%;
    --input: 98 38% 85%;
    --ring: 158 98% 10%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 158 98% 7%;
    --foreground: 98 38% 90%;
    --card: 158 98% 10%;
    --card-foreground: 98 38% 90%;
    --popover: 158 98% 7%;
    --popover-foreground: 98 38% 90%;
    --primary: 98 38% 90%;
    --primary-foreground: 158 98% 10%;
    --secondary: 158 98% 15%;
    --secondary-foreground: 98 38% 90%;
    --muted: 158 98% 15%;
    --muted-foreground: 98 38% 60%;
    --accent: 158 98% 20%;
    --accent-foreground: 98 38% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 158 98% 15%;
    --input: 158 98% 15%;
    --ring: 98 38% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
